<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{% static 'playlister/css/css.css' %}">
</head>
<body>
{% block content%}
{% endblock %}
</body>
</html>