{% extends 'playlister/base.html' %}
{% block title %}Songs{% endblock %}
{% block content %}
    <div class="breadcrumb-self">
        <div class="ui breadcrumb container">
            <a class="section" href="#">Profile</a>
            <div class="divider"> / </div>
            <a class="section" href="#">Playlist - {{current_playlist_name.name}}</a>
            <div class="divider"> / </div>
            <div class="active section">Songs</div>
        </div>
    </div>
    <div class="ui container">
        <h3>{{current_playlist_name.name}}</h3>
        <ul>
            {% for song in current_playlist_name.song_set.all %}
            <li> 
                <a href="{% url 'playlister:song' current_playlist_name.name song.song_name %}">{{song.song_name}} </a> 
                <form action="{% url 'playlister:delete_song' song.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="ui button" value="delete">
                    <a href="{% url 'playlister:edit_song' song.id %}" class="ui button">Edit song</a>
                </form>
            </li>
            {% endfor %}
        </ul>
        <br><br><br><br><br><br><br>
        <a href="{% url 'playlister:add_song' current_playlist_name.id %}" class="ui button">Add song</a>
    </div>
    


{% endblock %}